.Header {
  text-align: left;
  overflow: hidden;
  background-color: #c7dcfe;
  width: 100%;
  /* float: left; */
  display: block;
  color: #000000;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  display: inline-flex;
}

.byKenny {
  margin-top: 55px;
  margin-left: 6px;
  font-size: 12px;
  font-style: italic;
}
